{% load i18n %}
{% autoescape off %}
{% blocktranslate %}
<p>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.</p>
{% endblocktranslate %}

{% translate "Please go to the following page and choose a new password:" %}
<a href="{{ password_reset_url }}">Reset Password</a>
{% endblock %}
{% translate 'Your email is your username for login, in case you’ve forgotten:' %} {{ user.email }}

{% translate "Thanks for using our site!" %}

{% blocktranslate %}
The {{ email_site_name }} team
{% endblocktranslate %}

{% endautoescape %}
